<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>VoodooI2C injector for Zenbook Duos</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>GDX1515 - Precision Touchpad HID Event Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>5</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>VoodooI2CPrecisionTouchpadHIDEventDriver</string>
			<key>IOPCIMatch</key>
			<string>0x01f427c6</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>ProcessBluetoothMouseStopsTrackpad</key>
			<false/>
			<key>ProcessUSBMouseStopsTrackpad</key>
			<false/>
			<key>QuietTimeAfterTyping</key>
			<integer>100</integer>
			<key>RM,deliverNotifications</key>
			<true/>
		</dict>
		<key>ELAN1207 - Precision Touchpad HID Event Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>5</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>VoodooI2CPrecisionTouchpadHIDEventDriver</string>
			<key>IOPCIMatch</key>
			<string>0x310e04f3</string>
			<key>IOProbeScore</key>
			<integer>1001</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>ProcessBluetoothMouseStopsTrackpad</key>
			<false/>
			<key>ProcessUSBMouseStopsTrackpad</key>
			<false/>
			<key>QuietTimeAfterTyping</key>
			<integer>100</integer>
			<key>RM,deliverNotifications</key>
			<true/>
		</dict>
		<key>[UX481,UX582] Primary Display - Touchscreen HID Event Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>4</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>VoodooI2CTouchscreenHIDEventDriver</string>
			<key>IOPCIMatch</key>
			<string>0x2c5604f3&amp;0x2b6a04f3</string>
			<key>IOProbeScore</key>
			<integer>1002</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
		</dict>
		<key>[UX481,UX582] ScreenPad Plus - Touchscreen HID Event Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2CHID</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>4</integer>
					<key>DeviceUsagePage</key>
					<integer>13</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>VoodooI2CTouchscreenHIDEventDriver</string>
			<key>IOPCIMatch</key>
			<string>0x2c2304f3&amp;0x29de04f3</string>
			<key>IOProbeScore</key>
			<integer>1003</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.alexandred.VoodooI2C</key>
		<string>2.0</string>
		<key>com.alexandred.VoodooI2CHID</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
